
 <a href="/stores/new">Add a Store</a>

<hr>

<% if @stores.size > 0 %>
<h3><%= @sub_header_instructions %></h3>
    <ul>
      <% @stores.each do |store| %>
      <li><a href="/stores/<%= store.id %>"><%= store.name %></a></li>
      <% end %>
    </ul>
<% end %>
