<form action="/stores/<%= @store.id %>/shoes/new" method="post">
  <label for="add_shoe">Enter Shoe Brand: </label>
  <input id="add_shoe" name="add_shoe" type="text" required>
  <button type="submit">Add</button>
</form>

<a href="/">home</a>
