<form action="/stores/new" method="post">
  <label for="add_store">Enter Store Name: </label>
  <input id="add_store" name="add_store" type="text">
  <button type="submit">Add</button>
</form>

<a href="/">home</a>
