<form action="/recipes/new" method="post">
  <label for="recipe">Enter Recipe Title: </label>
  <input id="recipe" name="recipe" type="text">
  <button type="submit">Add</button>
</form>

<a href="/">home</a>
